{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
